{% extends 'base.html' %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-container u-text-center">
        <div class="auth-header">
            <h2 class="secao-titulo-azul">Senha Alterada! ✅</h2>
            <p class="u-text-muted">Sua segurança foi atualizada.</p>
        </div>

        <div class="auth-body u-margin-bottom-20">
            <p>Sua senha foi alterada com sucesso. Você já pode continuar navegando pela <strong>Toca da Coruja</strong>.</p>
        </div>
        
        <a href="{% url 'home' %}" class="btn-acao btn-inscricao u-full-width">
            Ir para a Página Inicial
        </a>
    </div>
</div>
{% endblock %}